<% for column in CompanyDepartment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @company_department.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @company_department %> |
<%= link_to 'Back', :action => 'list' %>
