<h1><%= "titles:actions:editing".t(Role.localized_model_name) %></h1>

<% form_tag :action => 'update', :id => @role do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit'.t %>
<% end %>

<%= link_to 'Show'.t, :action => 'show', :id => @role %> |
<%= link_to 'Back'.t, :action => 'list' %>
