<%= error_messages_for :currency.to_s %>
<%= text_box :currency, :name-%>
<%= text_box :currency, :code-%>
<%= text_box :currency, :format-%>
<%= text_box :currency, :rate-%>
<%= text_box :currency, :active-%>
<%= text_box :currency, :comment-%>
