<%= error_messages_for :delay.to_s %>
<%= text_box :delay, :name-%>
<%= text_box :delay, :active-%>
<%= text_box :delay, :months-%>
<%= text_box :delay, :days-%>
<%= text_box :delay, :end_of_month-%>
<%= text_box :delay, :additional_days-%>
