<%= error_messages_for :deadline.to_s %>
<%= text_box :deadline, :name-%>
<%= text_box :deadline, :active-%>
<%= text_box :deadline, :months-%>
<%= text_box :deadline, :days-%>
<%= text_box :deadline, :end_of_month-%>
<%= text_box :deadline, :additional_days-%>
