<%= error_messages_for FinancialyearType.to_s.underscore %>
<%= text_box :financialyear_type, :name-%>
<%= text_box :financialyear_type, :code-%>
<%= text_box :financialyear_type, :fiscal-%>
<%= text_box :financialyear_type, :month_number-%>
