<% for column in Part.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @part.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @part %> |
<%= link_to 'Back', :action => 'list' %>
