<tr><td><%= contact_norm_item.left_nature+" : "+contact_norm_item.left_value %></td><td><%= contact_norm_item.title+" ("+contact_norm_item.nature+") : "+contact_norm_item.content %></td><td><%= contact_norm_item.right_nature+" : "+contact_norm_item.right_value %></td><%= action_columns contact_norm_item, [{:action=>:contact_norm_item_push_up, :image=>:up}, {:action=>:contact_norm_item_push_down,:image=>:down}, {:action=>:contact_norm_item_destroy, :image=>:destroy}] %></tr>
