<%= error_messages_for 'entity_contact_type' %>

<!--[form:entity_contact_type]-->
<%= text_box EntityContactType, "name"%>
<%= text_box EntityContactType, "active"%>
<%= text_box EntityContactType, "description"%>
<!--[eoform:entity_contact_type]-->

