<%= error_messages_for 'entity_contact_nature' %>

<!--[form:entity_contact_nature]-->
<%= text_box EntityContactNature, "name"%>
<%= text_box EntityContactNature, "active"%>
<%= text_box EntityContactNature, "description"%>
<!--[eoform:entity_contact_nature]-->

