<%= error_messages_for 'entity_nature' %>

<!--[form:entity_nature]-->
<%= text_box EntityNature, "name"%>
<%= text_box EntityNature, "title"%>
<%= text_box EntityNature, "active"%>
<%= text_box EntityNature, "physical"%>
<%= text_box EntityNature, "description"%>
<!--[eoform:entity_nature]-->

