<h1>New entity_contact_nature</h1>

<% form_tag do %>
  <%= render :partial => 'contact_nature_form' %>
  <%= submit_tag "Create".t %>
<% end %>

<%= link_to 'Back'.t, :action => 'contact_nature_list' %>
