<%= error_messages_for 'company_establishment' %>

<!--[form:company_establishment]-->
<%= text_box CompanyEstablishment, "name" -%>
<%= text_box CompanyEstablishment, "nic" -%>
<%= text_box CompanyEstablishment, "address", :rows=>5 -%>
<%= text_box CompanyEstablishment, "note" -%>
<!--[eoform:company_establishment]-->

