<% for column in CompanyEstablishment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @company_establishment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @company_establishment %> |
<%= link_to 'Back', :action => 'list' %>
